/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
body {
  background-image: url("../img/sfondo.png");
}

a {
  text-decoration: none;
  color: #ac3071;
}

.bk-color {
  background: linear-gradient(180deg, rgba(0, 156, 191, 1) 0%, rgba(10, 108, 135, 1) 100%);
  color: white;
}
/* HEADER */
header {
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  width: fit-content;
  height: fit-content;
}

header img {
  width: 60%;
}

header ul {
  list-style-type: none;
  padding: 0;
}

header ul li {
  margin: 0 15px;
  font-weight: 600;
  cursor: pointer;
}

header ul li a {
  color: inherit;
  font-weight: 600;
}
/* MAIN */
main {
  background-color: white;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */
aside {
  text-align: center;
}
.gray-bg {
  text-align: center;
  background-color: #e5e3e4;
}

/* FOOTER */
