/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
body {
  background-image: url("../img/sfondo.png");
  background-size: contain;
}

a {
  color: #00a1ce;
}
.textPink {
  color: #ac3071;
}
.bold {
  font-weight: 600;
}
.bk-color {
  background: linear-gradient(180deg, rgba(0, 156, 191, 1) 0%, rgba(10, 108, 135, 1) 100%);
  color: white;
}
/* HEADER */
header {
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  width: fit-content;
  height: fit-content;
}

header img {
  width: 60%;
}

header ul {
  list-style-type: none;
  padding: 0;
}

header ul li {
  margin: 0 15px;
  font-weight: 600;
  cursor: pointer;
}

header ul li a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}
/* MAIN */
main {
  background-color: white;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  font-size: 1.2rem;
}
h1 {
  font-weight: 600;
}
.articleAuthor {
  color: rgba(128, 128, 128, 0.74);
}
main p {
  font-size: 20px;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #3567c9;
}
table th {
  background-color: #3567c9;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: normal;
  border: 1px solid rgb(255, 255, 255);
}
table caption {
  font-style: italic;
}
table td {
  padding: 8px;
  text-align: center;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */
aside {
  text-align: center;
}
.gray-bg {
  text-align: center;
  background-color: #e5e3e4;
}
.articleDate {
  font-size: 12px;
  color: gray;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  padding: 5px;
  padding-bottom: 15px;
  background: linear-gradient(180deg, rgba(0, 86, 101, 1) 0%, rgba(49, 59, 56, 1) 100%);
}
