@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* RESET BASE */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", Arial, sans-serif;
}

/* STILI GLOBALI */
body {
  background: url("../img/sfondo.png");
  background-size: contain;
}

a {
  color: #00a1ce;
}

.textPink {
  color: #ac3071;
}

.bold,
header ul li,
header ul li a {
  font-weight: 600;
}

.bk-color {
  background: linear-gradient(180deg, rgba(0, 156, 191, 1), rgba(10, 108, 135, 1));
  color: #fff;
}

.shadow {
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.48);
}

.articleAuthor {
  color: rgba(128, 128, 128, 0.74);
}

.gray-bg {
  background: #e5e3e4;
}

/* HEADER */
header {
  text-align: center;
  padding: 40px;
  margin-bottom: 20px;
}

header img {
  width: 80%;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul li {
  margin: 0 15px;
  cursor: pointer;
}

header ul li a {
  color: inherit;
  text-decoration: none;
}

/* MAIN */
main {
  background: #fff;
  padding: 15px 20px;
  font-size: 1.2rem;
}

h1 {
  font-weight: 600;
}

main p {
  font-size: 20px;
}

/* TABELLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border-bottom: 2px solid #3567c9;
}

th {
  background: #3567c9;
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  text-align: center;
  font-weight: 400;
}

td {
  padding: 8px;
  text-align: center;
}

caption {
  font-style: italic;
}

tr:nth-child(even) {
  background: #f2f2f2;
  border: 1px solid #cecece;
}

/* VIDEO */
.videoContainer {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
  text-align: center;
}

.videoContainer iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
}

/* FORM */
.news {
  padding: 20px;
  margin-top: 30px;
  text-align: center;
}

.news h2 {
  font-weight: 500;
  margin: 0;
}

.news form {
  margin-top: 15px;
}

.news input,
.news button {
  padding: 5px 10px;
  font-size: 20px;
}

.news input {
  width: 65%;
  border: 0;
  border-bottom: 2px dotted #000;
}

.news button {
  margin-left: 2px;
  background: #3067cb;
  color: #fff;
  border: 0;
  font-weight: 600;
  cursor: pointer;
}

/* ASIDE ARTICOLI */
.articles {
  text-align: center;
}

.articles h2 {
  font-weight: 500;
  margin: 30px 0 20px;
}

.articles section {
  padding: 15px;
  margin-bottom: 20px;
  text-align: start;
  border: 1px solid #bcbcbc;
}

.category {
  margin: 0;
  font-size: 15px;
}

.articleDate {
  font-size: 15px;
  text-align: end;
  margin-top: 20px;
  margin-bottom: 0px;
}

/* FOOTER */
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
  padding: 5px 5px 15px;
  background: linear-gradient(180deg, rgba(0, 86, 101, 1), rgba(49, 59, 56, 1));
}
